{
    "presets": [
        [ "env", {
            "targets": {
                "node": "current"
            }
        }]
    ],

    "env": {
        "production": {
            "presets": ["babili"]
        }
    }
}
